:host,
.sidenav-note-list,
.existing-notes-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.existing-notes-list {
  justify-content: space-between;
}

.existing-notes-list > .mat-list-base {
  padding-top: 0;
}
