:host {
  display: grid;
  grid-gap: 16px;

  grid-template-areas:
    "edit-status"
    "header-portrait"
    "sheet-attributes"
    "sheet-abilities";
}

.header-portrait-container {
  grid-area: header-portrait;

  display: flex;
  flex-direction: row;
  width: 100%;

  app-sheet-header {
    display: flex;
    flex: 1;

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}

app-sheet-attributes {
  grid-area: sheet-attributes;
}

app-sheet-abilities {
  grid-area: sheet-abilities;
}

.edit-status {
  // grid-area: edit-status;

  .alert-box {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // .alert-box:not(:first-of-type) {
  //   margin-top: 8px;
  // }

  .neutral-box {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
  }

  .warning-box {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  .error-box {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

app-printable-character-sheet {
  display: none;
}

@media print {
  app-printable-character-sheet {
    display: inherit;
  }
}
