<!-- <app-printable-character-sheet id="printable-character-sheet">
</app-printable-character-sheet> -->

<div
  class="main-sheet-container"
  *ngIf="
    this.characterService.selectedCharacter$ | async as selectedCharacter;
    else noCharacterSheet
  "
>
  <div class="header-portrait-container">
    <mat-card class="character-sheet-card">
      <mat-card-header>
        <mat-card-title i18n="@@cs-header">Character Sheet</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="formGroup">
          <mat-form-field>
            <mat-label i18n="@@cs-name">Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@cs-generation">Generation</mat-label>
            <mat-select matInput formControlName="generation">
              <mat-option
                *ngFor="let generation of generations"
                [value]="generation.value"
              >
                {{ generation.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@cs-clan">Clan</mat-label>
            <mat-select matInput formControlName="clan">
              <mat-option *ngFor="let clan of clans" [value]="clan.value">
                {{ clan.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@cs-demeanor">Demeanor</mat-label>
            <mat-select matInput formControlName="demeanor">
              <mat-option
                *ngFor="let archetype of archetypes"
                [value]="archetype.value"
              >
                {{ archetype.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@cs-nature">Nature</mat-label>
            <mat-select matInput formControlName="nature">
              <mat-option
                *ngFor="let archetype of archetypes"
                [value]="archetype.value"
              >
                {{ archetype.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@cs-sire">Sire</mat-label>
            <input matInput formControlName="sire" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-footer class="edit-status">
        <!-- <div class="alert-box neutral-box" *ngIf="!isFormDirty">
              <span>All changes have been saved</span>
            </div> -->
        <div class="alert-box warning-box" *ngIf="isFormDirty">
          <span>Save pending changes?</span>
          <div class="button-group">
            <button mat-button (click)="saveChanges()" i18n="@@cs-save">
              Save
            </button>
            <button mat-button (click)="cancelChanges()" i18n="@@cs-undo">
              Undo
            </button>
          </div>
        </div>
        <div class="alert-box warning-box" *ngIf="isGenerationDirty">
          <span>Warning: Changing generation might cause xyz to reset</span>
        </div>
        <div class="alert-box warning-box" *ngIf="isClanDirty">
          <span>Warning: Changing clan might cause xyz to reset</span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <app-sheet-attributes
    [attributesFieldList]="
      this.configJSON.characterSheetFields.attributesFieldList
    "
  ></app-sheet-attributes>
  <app-sheet-abilities
    [abilitiesFieldList]="
      this.configJSON.characterSheetFields.abilitiesFieldList
    "
  ></app-sheet-abilities>

  <app-character-sheet-fab></app-character-sheet-fab>
</div>

<ng-template #noCharacterSheet>
  <mat-card> Please select a character or create a new one </mat-card>
</ng-template>
