<mat-card class="upload-character-portrait-card">
  <mat-card-content>
    <!-- <ng-container
      *ngIf="
        this.selectedCharacter?.imageUrl?.length;
        then hasImageLoaded;
        else needToUploadImage
      "
    ></ng-container>
    <ng-template #hasImageLoaded>
      <img
        class="character-portrait"
        [src]="this.selectedCharacter?.imageUrl"
        alt="Character Portrait"
      />
    </ng-template>
    <ng-template #needToUploadImage> UPLOAD CHARACTER PORTRAIT </ng-template> -->
  </mat-card-content>
  <mat-action-list>
    <button mat-button i18n="@@cs-upload">UPLOAD</button>
    <button mat-button color="warn" i18n="@@cs-remove">REMOVE</button>
  </mat-action-list>
</mat-card>
