/* You can add global styles to this file, and also import other style files */
@import './darkly.bootstrap.css';
// @import './assets/bootstrap-nav-wizard.css';
//https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=6002ee

img[data-toggle='tooltip'] {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(252deg) brightness(107%) contrast(104%);
  width: 8px;
}

html,
body {
  height: 100vh;
}

main {
  margin: 32px;
}

.top-buffer {
  margin-top: 20px;
}
.stat-group,
.stat-list-item,
.app-stat-block-container,
app-stat-block {
  width: 100%;
}
