/* You can add global styles to this file, and also import other style files */
// @import './assets/darkly.bootstrap.css';
// @import './assets/bootstrap-nav-wizard.css';
//https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=6002ee

:root {
  font-size: 16px;

  --gainsboro: #dcdcdc;
  --silver-sano: #c5c3c6;
  --davys-grey: #46494c;
  --black-coral: #4c5c68;
  --black-coral-light: #788996;
  --black-coral-dark: #23333d;
  --blue-sapphire: #19647e;
  --blue-sapphire-light: #5192ad;
  --blue-sapphire-dark: #003a52;
  --rosewood: #68000a;

  --background: var(--gainsboro);
  --primary: var(--black-coral);
  --primary-dark: var(--black-coral-dark);
  --primary-light: var(--black-coral-light);
  --secondary: var(--blue-sapphire);
  --secondary-dark: var(--blue-sapphire-dark);
  --secondary-light: var(--blue-sapphire-light);
  --error: var(--rosewood);

  --on-primary: rgba(255, 255, 255, 0.8);
  --on-primary-light: rgba(0, 0, 0, 0.8);
  --on-primary-dark: rgba(255, 255, 255, 0.8);
  --on-secondary: rgba(255, 255, 255, 0.8);
  --on-secondary-light: rgba(0, 0, 0, 0.8);
  --on-secondary-dark: rgba(255, 255, 255, 0.8);
  --on-background: rgba(0, 0, 0, 0.6);
  --on-error: rgba(255, 255, 255, 0.75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img[data-toggle='tooltip'] {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(252deg) brightness(107%) contrast(104%);
  width: 8px;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  color: var(--on-background);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-dark);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  // border-radius: 4px;
  // transition: all 500ms;
  overflow: hidden;
}

main {
  margin: 32px;
}

div.fab {
  position: absolute;
  z-index: 1;
  right: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: var(--primary);
  color: var(--on-primary);

  .fab-icon {
    border-radius: 100%;
    transition: 500ms ease;
    font-size: 3rem;
  }

  .tooltip {
    position: absolute;
    width: 100%;
    right: 0%;
    top: 0%;
    content: attr(data-tooltip);
    font-size: 0.5rem;
    background-color: var(--secondary-light);
    color: var(--on-secondary-light);
    padding: 0.25rem;
    border-radius: 0.1rem;
    transition: 750ms ease;

    opacity: 0;
  }

  &:hover {
    .fab-icon {
      background-color: var(--secondary-light);
      color: var(--on-secondary-light);
      cursor: pointer;
      transform: rotate(90deg);
    }

    .tooltip {
      opacity: 1;
      right: 150%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
