<div class="display-value" *ngIf="!editMode">
  <label>
    {{ text }}
  </label>
  <span>
    {{ value }}
  </span>
  <button mat-icon-button matSuffix>
    <mat-icon (click)="editMode = true">edit</mat-icon>
  </button>
</div>
<form [formGroup]="formGroup" *ngIf="editMode">
  <mat-form-field>
    <ng-container [ngSwitch]="type">
      <textarea
        *ngSwitchCase="'textarea'"
        matInput
        [type]="type"
        [placeholder]="text"
        [value]="value"
        [formControlName]="name"
        [readonly]="!editMode"
      ></textarea>
      <input
        *ngSwitchDefault
        matInput
        [type]="type"
        [placeholder]="text"
        [value]="value"
        [formControlName]="name"
        [readonly]="!editMode"
      />
    </ng-container>

    <button mat-icon-button matSuffix color="accent">
      <mat-icon (click)="saveChanges()">save</mat-icon>
    </button>
    <button mat-icon-button matSuffix>
      <mat-icon (click)="cancelChanges()">cancel</mat-icon>
    </button>
  </mat-form-field>
  <div class="edit-warning-box alert-box" *ngIf="editWarning">
    {{ editWarning }}
  </div>
  <!-- <div class="error-box alert-box" *ngIf="">
    </div> -->
</form>
