<div
  id="fab-dismiss"
  *ngIf="fabTogglerState === 'active'"
  (click)="hideItems()"
></div>
<div
  class="fab-container"
  (mouseenter)="showItems()"
  (mouseleave)="hideItems()"
>
  <button mat-fab class="fab-toggler" (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{ value: fabTogglerState }">
      menu
    </i>
  </button>
  <div [@speedDialStagger]="buttons.length">
    <button
      *ngFor="let btn of buttons"
      mat-mini-fab
      class="fab-secondary"
      color="secondary"
      [matTooltip]="btn.tooltip"
      matTooltipPosition="left"
      (click)="btn.click()"
    >
      <i class="material-icons">{{ btn.icon }}</i>
    </button>
  </div>
</div>
