:host {
  display: flex;
  flex-direction: column;
}

#bottom-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #info-block {
    display: flex;
    flex-direction: row;

    img {
      border-color: red;
      height: 60px;
      width: auto;
      margin-right: 12px;
    }

    #name-clan-container {
      display: flex;
      flex-direction: column;

      #name {
        font-size: 1.2rem;
      }

      #clan {
        font-size: 0.8rem;
      }
    }
  }

  #actions :not(:last-child) {
    margin-right: 8px;
  }
}
