:host {
  display: grid;
  height: 100%;

  /* this isnt going to work on mobile */
  grid:
    "nav-bar"
    "main";

  grid-template-rows: 56px auto;
}

@media (min-width: 600px) {
  :host {
    grid-template-rows: 64px auto;
  }
}

main {
  grid-area: main;
}

app-nav-bar {
  grid-area: nav-bar;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media print {
  :host {
    grid: "main";
  }
}
