<div class="existing-character-list">
  <ng-container>
    <mat-nav-list>
      <h1 matSubheader>Chronicles</h1>
      <div *ngFor="let chronicle of chronicles$ | async; let index = index">
        <a
          mat-list-item
          [class.selected-menu-item]="
            chronicle?.uuid ===
            (this.chronicleService.selectedChronicle$ | async)?.uuid
          "
          (click)="onSelectChronicle(chronicle)"
        >
          {{ chronicle.name }}
        </a>
        <div
          *ngIf="
            chronicle?.uuid ===
            (this.chronicleService.selectedChronicle$ | async)?.uuid
          "
        >
          <mat-nav-list
            *ngIf="(characters$ | async)?.length; else noCharacters"
          >
            <a
              *ngFor="let character of characters$ | async; let index = index"
              mat-list-item
              (click)="onSelectCharacter(character.uuid)"
              [class.selected-character]="
                character?.uuid ===
                (this.characterService.selectedCharacter$ | async)?.uuid
              "
            >
              {{ character.name }}
            </a>
          </mat-nav-list>
          <ng-template #noCharacters>
            <mat-nav-list>
              <a
                mat-list-item
                (click)="createNewCharacter(selectedChronicle?.uuid)"
                *ngIf="
                  this.chronicleService.selectedChronicle$
                    | async as selectedChronicle
                "
                >No Characters (Create)</a
              >
            </mat-nav-list>
          </ng-template>
        </div>
      </div>
    </mat-nav-list>
  </ng-container>
  <!-- <ng-container
    *ngFor="
      let clan of (state.selectedChronicle$ | async)?.clans;
      let index = index
    "
  >
    <mat-nav-list *ngIf="clan.characters.length">
      <mat-divider *ngIf="index"></mat-divider>
      <h1 matSubheader>{{ clan.name }}</h1>

      <a
        *ngFor="let character of clan?.characters"
        mat-list-item
        [class.selected-menu-item]="
          character.id === (state.selectedCharacter$ | async).id
        "
        (click)="
          state.changeSelectedCharacter(character);
          state.closeCharacterListSidenav(true)
        "
      >
        {{ character.name }}
      </a>
    </mat-nav-list>
  </ng-container> -->
</div>

<mat-nav-list>
  <mat-divider></mat-divider>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    (click)="createNewChronicle()"
  >
    (+) New Chronicle
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    (click)="createNewCharacter(selectedChronicle?.uuid)"
    *ngIf="
      this.chronicleService.selectedChronicle$ | async as selectedChronicle
    "
  >
    (+) New Character
  </a>
</mat-nav-list>
