<div class="row">
  <div class="card col-md-4 col-lg-3" *ngFor="let character of characters$ | async" routerLink="/characters/{{ character.id }}">
    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Clan {{ character.clan || 'Unknown' }} / Sect {{ character.sect || 'Unknown' }} / {{ character.generationDescription || 'Generation Unknown' }}
      </h6>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>


  <!-- <mat-card >
    <mat-card-header> -->
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-title></mat-card-title>
      <mat-card-subtitle> -->
        
      <!-- </mat-card-subtitle>
    </mat-card-header> -->
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" /> -->
    <!-- <mat-card-content>
      <p>
        {{character.concept}}
      </p>
    </mat-card-content> -->
    <!-- <mat-card-actions>
      <button mat-button routerLink="/characters/{{ character.id }}">View</button>
      <button mat-button routerLink="/characters/{{ character.id }}/edit">Edit</button>
      <button mat-button color="warn" (click)="delete(character)">Delete</button>
    </mat-card-actions> -->
  <!-- </mat-card> -->
</div>

<div class="fab">
  <button mat-mini-fab color="primary" matTooltip="Create New Character" matTooltipPosition="before">
    <mat-icon>add</mat-icon>
  </button>
</div>
