:host,
mat-sidenav-container,
mat-sidenav-container > mat-sidenav-content {
  display: grid;
  height: 100%;
}

.character-name-list {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.character-portrait {
  width: 100%;
  height: auto;
}

.sheet-top-block {
  display: flex;
  flex-direction: row;

  .character-portrait + .stat-header {
    margin-left: 12px;
  }
}

.stat-block-container > *:not(:first-child) {
  display: flex;
  margin-top: 16px;
}

mat-sidenav {
  position: fixed;
  top: 56px;
}

@media (min-width: 600px) {
  mat-sidenav {
    top: 64px;
  }
}

@media print {
  mat-sidenav {
    display: none;
  }
}
