/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

mat-card.mat-card {
  border-radius: 0;
}

.content-block {
  padding: 32px 64px;
  display: grid;
  box-sizing: border-box;
}

.selected-menu-item {
  &,
  &.mat-list-item {
    background-color: #c60055;
    color: white;

    &:hover {
      background-color: #ff79b0;
      color: black;
    }
  }

  + div mat-nav-list {
    padding-top: 0;
    background-color: #424242;

    .mat-list-item {
      color: white;
      &:hover {
        background-color: #9e9e9e;
        color: black;
      }
    }

    .selected-character {
      background-color: #9e9e9e;
      color: black;
    }
  }
}

mat-card.character-sheet-card {
  width: 100%;
  box-sizing: border-box;

  .mat-card-header-text {
    margin: 0;

    mat-card-title.mat-card-title {
      font-size: 1.5em;
    }
  }

  mat-card-content,
  mat-card-content form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
  }
}
